html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.grid-nav {
  display: grid;
  grid-template-columns: 255px 45px 255px;
  margin-bottom: 0.5rem;
  row-gap: 2px;
  /* column-gap: 2px; */
  justify-content: center;
}

.nmapactive-button,
.nmapactive-button-alt {
  justify-self: center;
  background-color: white;
  border-radius: 3px;
  width: 45px;
  height: 38px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  text-align: center;
  padding-top: 8.5px;
}

.alert-box {
  text-align: -webkit-center;
  text-align: -moz-center;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .grid-nav {
    display: grid;
    grid-template-columns: 130px 40px 130px;
  }

  .nmapactive-button {
    margin-bottom: -20px;
  }

  .nmapactive-button-alt {
    margin-bottom: 20px;
  }
}
