.nav-button {
  border: 0px;
  outline: 0px;
  background-color: white !important;
  margin-bottom: 3px;
}

.nav-button :hover {
  background-color: white !important;
}

.nav-icon {
  filter: none;
}

.btn.disabled .nav-icon {
  filter: invert(91%) sepia(33%) saturate(1%) hue-rotate(197deg)
    brightness(106%) contrast(65%);
}

.prev-button {
  border-radius: 2px 0 0 2px;
  grid-row: 1/1;
}

.next-button {
  border-radius: 0 2px 2px 0;
  grid-row: 1/3;
}

.middle-line {
  background: linear-gradient(rgb(129, 129, 129), rgb(129, 129, 129));
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: 12.5%;
}

.dropdown-icon {
  margin-right: 0.5rem;
  margin-left: -15px;
  background-color: white;
  border-radius: 50%;
}

.dropdown-menu {
  width: 235px;
  font-size: 14px;
}

.date-grid {
  justify-self: center;
  align-self: flex-end;
  grid-row: 2 / 2;
  display: grid;
}

.dropdown-date-button {
  font-weight: bold;
  z-index: 999;
  border: 0px;
  outline: 0px;
  border-radius: 0;
  margin-bottom: 3px;
  background-color: white !important;
}

.dropdown-grid {
  grid-row: 1/2;
}

.dropdown-date-button :hover {
  background-color: white;
}

@media screen and (max-width: 480px) {
  .nav-button {
    width: 25px;
    height: 60px;
    margin-top: 21px;
    margin-bottom: 0px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .dropdown-menu {
    width: 120px;
    font-size: smaller;
    min-width: 0px;
  }

  .dropdown-icon {
    margin-left: -28.5px;
  }

  .dropdown-date-button {
    font-size: small;
    width: 70px;
    padding-right: 0;
    padding-left: 0;
    height: 60px;
    margin-top: 21px;
  }

  .dropdown-button-content {
    white-space: initial !important;
  }
}
